{% extends 'baserrhh.html' %}
{% block main %}
<section class="home-section">
      <div class="container" style="margin-top: 50px;">
            
        <div class="card" style="padding: 10px; margin-bottom: 20px;">
          <h3 class="card-title text-center">¡Gestión y Control de Personal!
          </h3>
          <div class="card-body">
    
            <div class="row" style="margin-bottom: 50px;"> 
    
                <div class="col-lg-6 col-md-6 col-sm-12">
                
                      <div class="card text-center mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="https://cdn-icons-png.flaticon.com/512/1004/1004733.png"" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Añadir Nuevo Empleado</h5>
                              <div class="d-grid gap-2">
                                <a href="DetalleEmpleado.html" class="btn btn-success">Agregar <i class='bx bx-plus-circle' ></i></a>
                              </div>
                            
                            </div>
                          </div>
                        </div>
                      </div>
    
                </div>
              
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card text-center mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="https://cdn-icons-png.flaticon.com/512/269/269074.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Entradas/Salidas</h5>
                              <div class="d-grid gap-2">
                                <a href="#" class="btn btn-success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                              </div>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              
            </div>
            
            
          </div>
        </div>
    
        <div class="card">
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cod</th>
                  <th scope="col">Nombres y Apellidos</th>
                  <th scope="col">Cargo Actual</th>
                  <th scope="col">Permisos</th>
                  <th scope="col">Vacaciones</th>
                  <th scope="col">Llegadas Tardías</th>
                  <th scope="col">Anticipos</th>
                  <th scope="col">Horas Extra</th>
                  <th scope="col">Incentivos</th>
                  <th scope="col">Expediente</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Eduardo Castellón</td>
                  <td>Responsable de RRHH</td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="HistorialPermisos.html" class="btn prima">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn info">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="DetalleEmpleado.html" class="btn secondary">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Carlos Tapia</td>
                  <td>Analista de Recursos Laborales</td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn prima">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn info">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn secondary">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>María Valverde</td>
                  <td>Responsable de Nómina</td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn prima">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn info">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn success">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn warning">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                  <td>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn secondary">Gestionar <i class='bx bx-layer-plus' ></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
{% endblock %}