{% extends 'baserrhh.html' %}
{% block main %}

    <section class="home-section">
        <div class="container">
            <div class="card" style="margin-top: 50px;">
                <div class="card-body">
                    <h3 class="card-title text-center">Nómina de Noviembre 2021</h3>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                  <option selected disabled>Selecciona</option>
                                  <option value="1">Ordinaria</option>
                                  <option value="2">Liquidaciones</option>
                                </select>
                                <label for="floatingSelect">Tipo de Nómina</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control" id="floatingInput" placeholder="Primer Nombre"></textarea>
                                <label for="floatingInput">Descripción</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">

                            <div class="form-floating mb-3">
                                <input readonly type="date" class="form-control" id="floatingInput" placeholder="Segundo Nombre">
                                <label for="floatingInput">Fecha Elaboración</label>
                            </div>

                            <div class="d-grid gap-2">
                                <a href="#" class="btn btn-success">Cargar Empleados <i class='bx bx-layer-plus' ></i></a>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                      <th scope="col">CodEmp</th>
                                      <th scope="col">Salario Base</th>
                                      <th scope="col">Cargo</th>
                                      <th scope="col">Horas Extra</th>
                                      <th scope="col">Séptimo</th>
                                      <th scope="col">Incentivos</th>
                                      <th scope="col">Salario Bruto</th>
                                      <th scope="col">INSS Laboral</th>
                                      <th scope="col">IR Laboral</th>
                                      <th scope="col">Otras Deducciones</th>
                                      <th scope="col">INSS Patronal</th>
                                      <th scope="col">INATEC</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td colspan="2">Larry the Bird</td>
                                      <td>@twitter</td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}